{% extends 'main.html' %}
{% block content %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay light" style="background-image:url('static/images/pg-background.jpg');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="">Paragliding news</a></h1>
      </div>
      

    </header>
  </div>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <hr class="btmspace-30">
    <!-- ################################################################################################ -->
    <ul class="nospace group overview">
      {% for post in posts %}
      <li class="one_third">
        <article>
          {% if post.image_link %}
          <a href="{{ post.news_link }}"><img class="imgprev" src="{{ post.image_link }}" alt="Click to go to original post"></a>
          {% endif %}
          {% if post.video_link %}
          <iframe class="vidprev" src="{{ post.video_link }}" frameborder="0"
            allowfullscreen></iframe>
          {% endif %}
          {% if post.title|length > 41%}
          <h6 class="heading">{{ post.title|truncatechars:82 }}</h6>
          {% endif %}
          {% if post.title|length < 41 %}
          <h6 class="heading">{{ post.title }}</h6><br>
          
          {% endif %}
          <ul class="nospace meta">
            <li><i class="fa fa-user"></i> 
              <a href="#">{{ post.author }}</a></li>
            <li><i class="fa"></i>{{ post.date }}</li>
          </ul>
          <p>{{ post.short_description|truncatechars:80 }}</p>
          <footer class="nospace"><a class="btn" href="{{ post.news_link }}">Read more&raquo;</a></footer>
        </article>
      </li>
    {% endfor %}
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Paragliding News</h6>      
      </ul>
    </div>

    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">Paragliding News</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
        title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
{% endblock %}
